OPENAI_API_KEY = 
VNSTOCK_API_KEY = 
OIL_API_KEY = 
HF_KEY = 
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
AWS_REGION = 
BEDROCK_ROLE = 

BEDROCK_RESPONSE_MARKET_AGENT_ID = 
BEDROCK_RESPONSE_MARKET_ALIAS_ID = 

BEDROCK_ANALYSE_MARKET_AGENT_ID = 
BEDROCK_ANALYSE_MARKET_ALIAS_ID = 

BEDROCK_ANALYSE_STOCK_PORTFOLIO_AGENT_ID = 
BEDROCK_ANALYSE_STOCK_PORTFOLIO_ALIAS_ID = 

BEDROCK_RECOMMEND_STOCK_PORTFOLIO_AGENT_ID = 
BEDROCK_RECOMMEND_STOCK_PORTFOLIO_ALIAS_ID = 