numpy
pandas
fastapi
uvicorn[standard]
grpcio
grpcio-tools
faker
openai-whisper
kafka-python
transformers
spacy
SQLAlchemy
aiokafka
openai
feast
redis
pyarrow
fastparquet
python-dotenv
vnstock
asyncpg
celery
redis
boto3
awscli
accelerate
notebook
jupyterlab
joblib
scikit-learn